{% extends "block.html" %}

{% block content %}

<article>
    <h2>
        {{ page_title }}
    </h2>
    <h3>
        List all current and future reservations
    </h3>
    <p>
        <a href="../modules/logout.php">
            Log out
        </a>
    </p>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">start time</th>
            <th scope="col">end time</th>
            <th scope="col">room name</th>
            <th scope="col">number in group</th>
            <th scope="col">time of request</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
        <tr>
            <th scope="row">
                {{ reservation.id|e}}
            </th>
            <td>
                {{ reservation.startTime|e }}
            </td>
            <td>
                {{ reservation.endTime|e }}
            </td>
            <td>
                {{ reservation.roomName|e }}
            </td>
            <td>
                {{ reservation.numberInGroup|e }}
            </td>
            <td>
                {{ reservation.timeOfRequest|e }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
{% endblock %}